div.autocomplete_internal_container {
	height: 100%;
	width: 100%;
	position: relative;

    input.input_proxy {
        margin: 0px;
        padding: 0px;
        border: 1px solid blue;
        display: block;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        outline: none;
        background: transparent;
        height: 100%;
        font-size: 24px;
        float: left;
    }

    div.piece {
        float: left;
        margin: 0px 6px;
        border: 1px solid red;
    }

    ul {
        background: white;

        li.highlighted {
            background: #eee;
        }
    }
}
// end widget CSS



div.widget {
    border: 1px solid black;
    width: 400px;
    height: 40px;
    margin-bottom: 30px;
}