// padding units
@pad1 : 4px;
@pad2 : (2 * @pad1);
@pad3 : (3 * @pad1);
@pad4 : (4 * @pad1);

// rounded corners
.rounded-corners(@radius: @pad1) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.rounded-top-left(@radius: @pad1) {
	-webkit-border-top-left-radius: @radius;
        -moz-border-radius-topleft: @radius;
	        border-top-left-radius: @radius;
}
.rounded-top-right(@radius: @pad1) {
	-webkit-border-top-right-radius: @radius;
        -moz-border-radius-topright: @radius;
	        border-top-right-radius: @radius;
}
.rounded-bottom-left(@radius: @pad1) {
	-webkit-border-bottom-left-radius: @radius;
        -moz-border-radius-bottomleft: @radius;
	        border-bottom-left-radius: @radius;
}
.rounded-bottom-right(@radius: @pad1) {
    -webkit-border-bottom-right-radius: @radius;
	    -moz-border-radius-bottomright: @radius;
	        border-bottom-right-radius: @radius;
}
.rounded-top(@radius: @pad1) {
	.rounded-top-left(@radius);
	.rounded-top-right(@radius);
}
.rounded-bottom(@radius: @pad1) {
    .rounded-bottom-left(@radius);
    .rounded-bottom-right(@radius);
}
.rounded-left(@radius: @pad1) {
    .rounded-top-left(@radius);
    .rounded-bottom-left(@radius);
}

// linear gradient
.linear-gradient(@start, @end) {
    background: @end;
    background: -moz-linear-gradient(top, @start 0%, @end 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@end));
    background: -webkit-linear-gradient(top, @start 0%, @end 100%);
    background: -o-linear-gradient(top, @start 0%, @end 100%);
    background: -ms-linear-gradient(top, @start 0%, @end 100%);
    background: linear-gradient(top, @start 0%, @end 100%);
}

// transitions
.transition(@attribute, @time, @effect) {
    -webkit-transition: @attribute @time @effect;
       -moz-transition: @attribute @time @effect;
         -o-transition: @attribute @time @effect;
            transition: @attribute @time @effect;
}

// end functions



div.autocomplete_internal_container {
	height: 100%;
	width: 100%;
	position: relative;
    .rounded-corners(8px);
    border: 2px solid #ccc;
    padding: 4px;

    input.input_proxy {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        outline: none;
		border: 0px;
        background: transparent;
        float: left;
		font-size: 16px;
		width: 120px;
        padding: 0px;
        padding-top: 8px;
    }

	div.chunk {
		float: left;
        margin: 4px;
		padding: 4px 6px;
		background: #eee;
		.rounded-corners(6px);
		border: 1px solid #ccc;
		cursor: pointer;

        span.remove-chunk {
            margin-right: 2px;
            font-size: 11px;
        }
	}

	div.selected {
		.linear-gradient(#d2e6fd, #b0d1f9);
	}

    span.piece {
		margin: 0px 2px;
    }

    ul.dropdown {
        border: 1px solid #ccc;
        min-width: 100px;
		z-index: 1;
		position: absolute;
        background: #f6f6f6;
		padding: 0px;
        margin: 4px 0px 0px 0px;

        li {
            list-style: none;
            margin: 0px;
            padding: 3px 4px;
            font-size: 13px;
            border-bottom: 1px solid #f0f0f0;

			span.children-indicator {
				float: right;
			}
        }

		li.value {
			cursor: pointer;
		}

		li.group {
			background-color: #b7b7b7;
			color: #fff;
		}

        li.highlighted {
            background: blue;
			color: white;
        }
    }
}