code.js {  
  // copied from syntaxhigher
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important;  
}
code.plain {
  color: black !important;
}

//------------------------------------------------------
// Examples Page
//------------------------------------------------------
.syntaxhighlighter a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
div.etymology {
  margin: 30px 0px;
}
div.word {
  font-size: 26px;
  margin-bottom: 16px;
}
div.part-of-speech {
  color: #878787;
}
div.definition {
  font-style: italic;
}
div.example {
  padding: 50px 0px;
  border-bottom: 2px solid #ccc;
}

//------------------------------------------------------
// Single Example Page
//------------------------------------------------------
div.single-example {
  div.code_container {
    margin: 60px 0px;
  }
}

//------------------------------------------------------
// Markup Page
//------------------------------------------------------
table#markup_example_tbl {
  width: 100%;
  margin-bottom: 400px;
  
  td {
    height: 300px;
    width: 50%;
    padding: 40px;
  }
}