body {
  background: url('../img/satinweave.png') repeat;
}

div.row {
  background: #fff;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

div.top-bar {
  li a {
    font-family: 'Open Sans';
    font-weight: normal !important;
    text-decoration: none;
  }

  li.name a {
    font-weight: bold !important;
  }
}

//------------------------------------------------------
// Examples
//------------------------------------------------------
div#examples_list_container {
  li {
    cursor: pointer;
    padding: 4px 0px;
    color: rgb(102, 102, 102);
    list-style: none;
  }
  li:hover {
    color: rgb(34, 34, 34);
  }
  li.active {
    color: rgb(34, 34, 34);
    font-weight: bold;
  }
}
div#example_html_container {
  margin-bottom: 40px;
}

//------------------------------------------------------
// Docs
//------------------------------------------------------
div.etymology {
  margin: 30px 0px;
}
div.word {
  font-size: 26px;
  margin-bottom: 20px;
}
div.part-of-speech {
  color: #878787;
  margin-bottom: 6px;
}
div.definition {
  font-style: italic;
}
div.example {
  padding: 40px 0px;
  margin-bottom: 300px;
}

code {
  background: none;
  color: #000;
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 13px;
  font-weight: normal;
}
code.plain {
  color: #d94d3a;
}
code.html, code.keyword {
  color: #0066cc;
}
code.string {
  color: blue;
}

pre {
  font-size: 14px;
}

a {
  text-decoration: underline;
}

td.center {
  text-align: center;
}

//------------------------------------------------------
// Markup
//------------------------------------------------------
table#markup_example_tbl {
  width: 100%;
  margin-bottom: 400px;
  border: 0px;

  tr {
    background: #fff;
  }
  td {
    width: 50%;
    padding: 20px;
    padding-bottom: 250px;
  }
}