body {
  background: url('../img/satinweave.png') repeat;
}

div#body_container {
  min-height: 800px;
}

div.row {
  background: #fff;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

div.top-bar {
  li a {
    color: #fff;
    display: block;
    font-family: 'Open Sans';
    font-weight: normal !important;
    font-size: 13px;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    text-decoration: none;
  }

  li.name a {
    font-weight: bold !important;
  }
  li.active, li:hover {
    background: #000;
  }
  li.active a, li a:hover {
    color: #d9d9d9;
  }
}

small {
  font-size: 80%;
}

//------------------------------------------------------
// Examples
//------------------------------------------------------
div#examples_list_container {
  li {
    cursor: pointer;
    padding: 4px 0px;
    color: rgb(102, 102, 102);
    list-style: none;
  }
  li:hover {
    color: rgb(34, 34, 34);
  }
  li.active {
    color: rgb(34, 34, 34);
    font-weight: bold;
  }
}
div#example_html_container {
  margin-bottom: 40px;
}
div#example_js_container pre {
  overflow-x: hidden;
}

//------------------------------------------------------
// Docs
//------------------------------------------------------
div.etymology {
  margin: 30px 0px;
}
div.word {
  font-size: 26px;
  margin-bottom: 20px;
}
div.part-of-speech {
  color: #878787;
  margin-bottom: 6px;
}
div.definition {
  font-style: italic;
}
div.example {
  padding: 40px 0px;
  margin-bottom: 300px;
}

code {
  background: none;
  color: #000;
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 13px;
  font-weight: normal;
}
code.plain {
  color: #d94d3a;
}
code.html, code.keyword {
  color: #0066cc;
}
code.string {
  color: blue;
}
code.number {
  color: #7f0000;
}

pre {
  font-size: 14px;
}

a {
  text-decoration: underline;
}

td.center {
  text-align: center;
}

div.section {
  //margin: 80px 0px;
}

hr.divider {
  margin: 80px 0px;
}

//------------------------------------------------------
// Markup
//------------------------------------------------------
table#markup_example_tbl {
  width: 100%;
  margin-bottom: 400px;
  border: 0px;

  tr {
    background: #fff;
  }
  td {
    width: 50%;
    padding: 20px;
    padding-bottom: 250px;
  }
}